@keyframes showfilter {
  0% {
    transform: translateY(-10em);
  }
  1%{
    display: inherit;
  }
  100% {
    transform: translateY(-0.6em);
  }
}

@keyframes hideToggle {
  0% {
    opacity: 1;
    transform: translateY(-0.6em);
  }
  99% {
    opacity: 0;
    transform: translateY(-0.6em);
  }
  100%{
    transform: translateY(-0.6em);
    display: none;
  }
}

.filter {
  font-size: 0.5em;
  transition: 0.2s;e
  cursor: pointer;
  list-style: none;
}

.filter:hover {
  color: rgb(77, 0, 0);
}

.toggling_menu{
  font-size: 0.9em;
  display: inherit;
  opacity: 1;
}
.toggling_menu_hidden {
  animation: hideToggle 1s normal forwards;
}

.filterMenuHidden {
  display: none;
}
.filterMenu {
  animation: showfilter 1s normal ease-in-out forwards;
}