.collection-v2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: wrap row;}
  .mosaique {
    display: flex;
    overflow: scroll;
    margin-right: 3%;
    justify-content: left;
    align-items: center;
    flex-flow: wrap row;
    width: 50%;
    height: 90%;
    max-height: max-content;
    order: 1;}
    .hero__miniature {
      width: 7em;
      height: 7em;
      text-align: center;
      overflow: hidden;
      position: relative;
      background: white;}
      .hero__img {
        width: auto;
        height: 100%;}
      .hero_miniature_frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.1s;
        box-shadow: inset 0 0 35px #040023;}
        .hero_miniature_frame:hover {
          box-shadow: inset 0 0 0px 5px black;
        }