  /* @keyframes brightnessAnim {
    0% {
      filter: brightness(1) contrast(1.5) grayscale(0.3)
    }
    100% {
      filter: brightness(1.2) contrast(1.5) grayscale(0.1)
    }
  }

  @keyframes rotateBackground {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(5deg)
    }
  }  */

#background {
position: fixed;
  width: 100vw;
  height: 120vh;
  /* top: -10vh;
  left: -10vw; */
  z-index: -1;
  background: url('../assets/marvel-background.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 110%;
  animation: brightnessAnim 2s infinite ease-in-out alternate both;
}